[submodule "themes/hugo-creative-portfolio-theme"]
	path = themes/hugo-creative-portfolio-theme
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = https://github.com/dzello/reveal-hugo.git
