{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>

         <div>
             <i class="fa fa-calendar fa-fw"></i>
             <time datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>
             &middot;
             {{ .WordCount }} 字
             &middot;
             {{ .ReadingTime }} 分钟
         </div>

         {{ .Content }}
         {{ partial "disqus.html" . }}
      </div>
    </div>
  </div>
</div>
<noscript>
  <style>.jsonly { display: none }</style>
</noscript>
{{ end }}
